{% extends "base.njk" %}

{% block content %}
    {% set status = message["status"] | int %}
    {% if status == 401 or status == 403 %}
        <div>
            <h3>Unauthorized</h3>
            <h4>Log in to see this content.</h4>
        </div>
    {% else %}
    <div class="error-bg" id="errorBg">
        <h3>Error</h3>
        <h4>{{ error }}</h4>
        {% if (message) %}
            <div class="card">
                <div class="card-body">
<pre><code>{% for index, elem in message %}{{ index }}: {{ elem }}
{% endfor %}</code></pre>
                </div>
            </div>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}

