{% extends "base.njk" %}

{% block content %}
    <div class="timeline-page">
        <div class="timeline-container"> 
            <h1>{{ title }}</h1>

            {% include "compose.njk" %}

            {% for post in data %}
                {% include "post.njk" %}
            {% endfor %}
        </div>
        <div class="ad-container"> 
            <iframe class="ad-website" src="{{ AD_SERVICE_INGRESS_ADDRESS + '/ad' }}" />
        </div>
    </div>
{% endblock %}
