<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Unguard - {{ title }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
        <link rel="stylesheet" href="{{ extendURL('/style.css') }} ">
        <link rel="preconnect" href="https://fonts.gstatic.com">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ extendURL('/apple-icon-57x57.png')}}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ extendURL('/apple-icon-60x60.png')}}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ extendURL('/apple-icon-72x72.png')}}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ extendURL('/apple-icon-76x76.png')}}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ extendURL('/apple-icon-114x114.png')}}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ extendURL('/apple-icon-120x120.png')}}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ extendURL('/apple-icon-144x144.png')}}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ extendURL('/apple-icon-152x152.png')}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ extendURL('/apple-icon-180x180.png')}}">
        <link rel="mask-icon" href="{{ extendURL('/safari-pinned-tab.svg')}}" color="#ea5455">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ extendURL('/android-icon-192x192.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ extendURL('/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ extendURL('/favicon-96x96.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ extendURL('/favicon-16x16.png')}}">
        <link rel="manifest" href="{{ extendURL('/manifest.json')}}">
        <meta name="msapplication-TileColor" content="#ea5455">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <script src="{{ extendURL('/js/jquery/jquery.slim.min.js')}}"></script>
        <script src="{{ extendURL('/js/bootstrap/bootstrap.min.js')}}"></script>
    </head>

    <body>
        {% include "nav.njk" %}

        <main role="main" class="container">
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
