{#
Copyright 2023 Dynatrace LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

<nav class="navbar navbar-blurred-overflow navbar-expand-md navbar-dark bg-dark fixed-top">
    <img height="30px" src="{{ extendURL('/img/logo.svg') }}" class="nav-logo" alt="Unguard logo">
    <section>
        <a class="navbar-brand" href="{{ extendURL('/') }}">Unguard</a>
    </section>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{'active' if (currentPath != undefined) and (extendURL('/') == currentPath)}}">
                <a class="nav-link" href="{{ extendURL('/') }}" name="navHome">
                    Home <span class="sr-only">(current)</span>
                </a>
            </li>
            {% if (username) %}
                <li class="nav-item {{'active' if (currentPath != undefined) and (extendURL('/users') == currentPath)}}">
                    <a class="nav-link" href="{{ extendURL('/users') }}" name="navUsers">
                        Users
                    </a>
                </li>
            
                <li class="nav-item {{'active' if (currentPath != undefined) and (extendURL('/my-timeline') == currentPath)}}">
                    <a class="nav-link" href="{{ extendURL('/my-timeline') }}"  name="navMyTimeline">
                        My Timeline
                    </a>
                </li>

                {% if (isAdManager) %}
                    <li class="nav-item {{'active' if (currentPath != undefined) and (extendURL('/ad-manager') == currentPath)}}">
                        <a class="nav-link" href="{{ extendURL('/ad-manager') }}" name="navAdManager">Ad Manager</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if (username) %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">{{ username }}</a>
                    <ul class="dropdown-menu pb-0">
                        <li align="center" class="well">
                            <img width="150"
                                 src="//robohash.org/{{ username }}.png?set=set1&size=150x150" alt="{{ username }}">
                            <div class="list-group">
                                <a href="{{ extendURL('/user/'+ username ) }}"
                                   class="list-group-item list-group-item-action">Profile</a>
                                <form action="{{ extendURL('/logout') }}" method="post">
                                    <button class="list-group-item list-group-item-action list-group-item-warning"
                                            type="submit">Logout
                                    </button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
                <form class="form-inline" action="{{ extendURL('/logout') }}" method="post">
                    <button class="btn btn-warning my-2 my-sm-0" type="submit" name="navLogoutButton">Logout</button>
                </form>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ extendURL('/login') }}" name="navLoginRegisterButton">Login/Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
