{#
Copyright 2023 Dynatrace LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

<!--- Post-->
<div class="card gedf-card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                    <img class="rounded-circle" width="60" src="//robohash.org/{{ post.username }}.png?set=set1&size=60x60" alt="{{ post.username }}">
                </div>
                <div class="ml-2">
                    <a href="{{ extendURL('/user/'+ post.username) }}">
                        <div class="h5 m-0">{{ post.username }}</div>
                    </a>
                    <div class="h7 text-muted">{{ post.timestamp }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            {% if (post.imageUrl) %}
                <div class="col-auto">
                    <img class="mw-100 h-100" src="{{ post.imageUrl }}" style="max-height: 150px" alt="">
                </div>
            {% endif %}
            <div class="col">
                <h5 class="card-title post-body">{{ post.body }}</h5>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="float-right">
            <div class="d-inline-block">
                <h6>{{post.likeCount}}</h6>
            </div>
            <form action="{{extendURL('/unlike' if post.userLiked else '/like')}}" method="get" class="d-inline-block">
                  <input type="hidden" name="postId" value="{{post.postId}}">
                  <button type="submit" class="bg-transparent border-0">
                      <i class="bi {{ 'bi-hand-thumbs-up-fill' if post.userLiked else 'bi-hand-thumbs-up' }}" style="font-size: 1.25rem"></i>
                  </button>
            </form>
        </div>
    </div>
</div>


