{#
Copyright 2023 Dynatrace LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends "base.njk" %}

{% block content %}
    <div>
        {% include "profile-header.njk" %}
        <div class="mt-1">
            <!-- Note that '| safe' is used to disable auto-escape and allow for cross-site scripting (XSS) -->
            <div class="mb-3 mt-3 pl-3 bio">{{ bio | safe }}</div>
            {% if (username == profileName) %}
                <form method="post">
                    <div class="form-group">
                        <textarea name="bioText" class="form-control" placeholder="Write your new bio here"
                                  rows="5" cols="60" maxlength="255"></textarea>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="enableMarkdown" name="enableMarkdown"
                               class="form-check-input">
                        <label for="enableMarkdown">Enable Markdown</label>
                    </div>
                    <button class="btn btn-primary"
                            formaction="{{ extendURL('/bio/' + username) }}"
                            type="submit"
                            name="postBio">
                        {{ 'Update Bio' if (bio) else 'Add Bio' }}
                    </button>
                </form>
            {% endif %}
        </div>

        {% for post in data %}
            {% include "post.njk" %}
        {% endfor %}
    </div>
{% endblock %}
