@page
@model AdModel

<div class="ad-container">
    <div class="ad-picture">
        <img title="bird-img" alt="add" style="max-width: 98vw; max-height: 98vh;" src="adFolder/bird.jpg" >
    </div>
</div>
