@page
@model AdModel
@{
    ViewData["Title"] = "Ad Service";
}

<div>
    <div> This is the add service :)</div>
    <div> resourcePath: @ViewData["resourcePath"] </div>
    <div> RecourceFolder: @Model.RecourceFolder </div>
</div>
