@page
@model AdModel
@{
    ViewData["Title"] = "ad-service";
}

<div style="width: 98vw; height: 98vh; display: flex;">
    <div style="margin:auto">
        <img title="bird-img" alt="add" style="max-width: 98vw; max-height: 98vh;" src="adFolder/bird.jpg" >
    </div>
</div>
