$body-bg: #FFFFFF

@import "litera_variables"
@import "../node_modules/bootstrap/scss/bootstrap.scss"
@import "litera"

body
  padding-top: 7rem
  background-color: #eeeeee

.h7
  font-size: 0.8rem

.gedf-wrapper
    margin-top: 0.97rem

.gedf-card
    margin-bottom: 1em

.dropdown-toggle::after
    content: none
    display: none

.rounded-circle
  background-color: #eeeeee

.card-title
  margin-bottom: 0

.error-bg
  h1, h2, h3, h4, h5
    color: $red
